llama-cloud>=1.0                                                                                                    
pypdf
streamlit                                                                                                             
pandas
requests
llama_cloud_services
